<section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="assets/img/intro-img.svg" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>Brindamos<br><span style="text-decoration: none;"><a href="#services" style="color: inherit;">soluciones</a></span><br>para tu negocio!</h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Conocenos</a>
          <a href="#services" class="btn-services scrollto">Nuestros Servicios</a>
        </div>
      </div>

    </div>
  </section>

  <main id="main">
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Nosotros</h3>
          <p>Somos una empresa enfocada a brindar y desarrollar soluciones tecnologicas de vanguardia.</p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
             Vantajas de nuestros servicios y productos
            </p>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="">Asesoramiento</a></h4>
              <p class="description">Disponemos de un sistema de Asesoramiento en tiempo real para ayudar y apacitar a nuetros clientes con todas sus necesidades</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">Personalizacion</a></h4>
              <p class="description">Ofrecemos un servicio persolaizado que se adapta a todas las necesidades del cliente</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">Crecimiento Real</a></h4>
              <p class="description">Con nuestras herramientas podras monitoriar el crecimiento en tiempo real, identificando las fortalezas del negocio para un  crecimiento optimo</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="assets/img/about-img.svg" class="img-fluid" alt="">
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp">
            <img src="assets/img/about-extra-1.svg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>Contacta con nuestro srvicio al cliente para brindarte una experiencia personalizada.</h4>
            <p>
              Contamos con un equipo de profesionales altamente calificados y especializados en su área. Esto nos permite ofrecerte un servicio basado en un amplio conocimiento y experiencia. Estamos constantemente actualizados con las últimas tendencias y avances en nuestra industria, lo que nos permite brindarte respuestas precisas y soluciones efectivas.
            </p>
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="assets/img/about-extra-2.svg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h4>Soporte en distintas plataformas.</h4>
            <p>
              Creemos en la importancia de una comunicación clara y efectiva. Estamos disponibles para ti a través de múltiples canales, ya sea por teléfono, correo electrónico, chat en línea o redes sociales. Te brindamos opciones para que elijas la forma de comunicarte que más te convenga. Además, nos aseguramos de que la información que recibas sea comprensible y precisa, evitando confusiones innecesarias. 
            </p>
            <p>
              Sabemos lo importante que es ser tratado con amabilidad y respeto. Nuestro equipo de servicio al cliente está comprometido con tu satisfacción, y siempre te recibirán con una sonrisa en su voz. Escuchamos tus preocupaciones con empatía y estamos dispuestos a ayudarte en cada paso del camino. Tu satisfacción es nuestra máxima prioridad.
            </p>
          </div>

        </div>

      </div>
    </section>
  </main>