<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>EmaR</h3>
            <p>Desarrollando hacia el futuro.</p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links Utiles</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Sobre nosotros</a></li>
              <li><a href="#">Servicios</a></li>
              <li><a href="#">Terminos de Servicio</a></li>
              <li><a href="#">Politica de Privacidad</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contactenos</h4>
            <p>
              Mar del Plata <br>
              , BA<br>
              , Argenitna <br>
              <strong>Phone:</strong> +54 0223 55488 55<br>
              <strong>Email:</strong> info@argprog.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Mail</h4>
            <p>Dejanos tu mail y nuestro equipo te contactara para que conozcas nuestros produtos y sus venntajas para hacer crecer tu negocio.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>EmaMSanchez</strong>. All Rights Reserved
      </div>
      <div class="credits">
       
        Designed by EmanuelSanchez
      </div>
    </div>
  </footer><!-- #footer -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
